In [14]:
import requests
import pandas as pd

In [6]:
page = requests.get("https://solicitors.lawsociety.org.uk/person/130606")

In [7]:
page.status_code

200

In [41]:
df_summary = pd.DataFrame()

for index in range(3000, 4000):
    
    page = requests.get("https://solicitors.lawsociety.org.uk/person/"+str(index))
    data = {'index': index, 'status': page.status_code}
    df_new = pd.DataFrame.from_records([data])
    df_summary = df_summary.append(df_new) 
    print('-', end='')

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [42]:
df_summary.status.value_counts()

200    529
404    471
Name: status, dtype: int64

In [43]:
df = df.append(df_summary)

In [45]:
df.status.value_counts()

200.0    2107
404.0    1893
Name: status, dtype: int64

In [46]:
df.loc[df.status == 200]

    index  status
0       2   200.0
0       5   200.0
0       7   200.0
0       8   200.0
0       9   200.0
..    ...     ...
0    3993   200.0
0    3994   200.0
0    3995   200.0
0    3996   200.0
0    3997   200.0

[2107 rows x 2 columns]

In [10]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(page.content, 'html.parser')

In [33]:
soup.find('div', id='languages-spoken-accordion').get_text().strip()

'English'