In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('law_professionals_db_backup.sqlite')

In [4]:
sql_query = " SELECT * FROM chinese_speaking_law_professionals_table"

In [8]:
df_chinese = pd.read_sql(sql_query, con)

In [9]:
df_chinese.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1965 entries, 0 to 1964
Data columns (total 15 columns):
index                            1965 non-null int64
contact_address                  63 non-null object
contact_dx_code                  322 non-null object
contact_email                    845 non-null object
contact_name                     1965 non-null object
contact_organisation             63 non-null object
contact_tel                      1235 non-null object
date_admitted                    1909 non-null object
entry_index                      1965 non-null int64
is_speaking_chinese              1965 non-null int64
languages_spoken                 1965 non-null object
profession                       1960 non-null object
profession_related               1965 non-null object
roles_at_contact_organisation    1253 non-null object
sra_id                           1965 non-null object
dtypes: int64(3), object(12)
memory usage: 230.4+ KB

In [14]:
df_chinese.contact_name.nunique()

1956

In [57]:
df_unique_email = df_chinese.drop_duplicates('contact_email').dropna(subset=['contact_email'])

In [69]:
df_unique_email.date_admitted = df_unique_email.date_admitted.str.split(':', expand=True).iloc[:,1]

In [81]:
cols = df_unique_email.columns.tolist()
cols

['index',
 'contact_address',
 'contact_dx_code',
 'contact_email',
 'contact_name',
 'contact_organisation',
 'contact_tel',
 'date_admitted',
 'entry_index',
 'is_speaking_chinese',
 'languages_spoken',
 'profession',
 'profession_related',
 'roles_at_contact_organisation',
 'sra_id']

In [87]:
sorted_cols = [
     'contact_name',
     'contact_email',
     'languages_spoken',
     'entry_index',
     'contact_address',
     'contact_dx_code',
     'contact_organisation',
     'contact_tel',
     'date_admitted',
     'is_speaking_chinese',
     'profession',
     'profession_related',
     'roles_at_contact_organisation',
     'sra_id']

In [85]:
sorted_cols[2]

'languages_spoken'

In [90]:
df_unique_email[sorted_cols].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534 entries, 1 to 1962
Data columns (total 14 columns):
contact_name                     534 non-null object
contact_email                    534 non-null object
languages_spoken                 534 non-null object
entry_index                      534 non-null int64
contact_address                  29 non-null object
contact_dx_code                  174 non-null object
contact_organisation             29 non-null object
contact_tel                      527 non-null object
date_admitted                    528 non-null object
is_speaking_chinese              534 non-null int64
profession                       531 non-null object
profession_related               534 non-null object
roles_at_contact_organisation    524 non-null object
sra_id                           534 non-null object
dtypes: int64(2), object(12)
memory usage: 82.6+ KB

In [89]:
df_unique_email[sorted_cols].to_csv('chinese_speaking_law_professionals_list.csv')

In [45]:
ch_log = df_chinese.languages_spoken.str.contains('Chinese')
n_ch = ch_log.sum()
n_ch

919

In [46]:
ca_log = df_chinese.languages_spoken.str.contains('Cantonese')
n_ca = ca_log.sum()
n_ca

1023

In [47]:
ma_log = df_chinese.languages_spoken.str.contains('Mandarin')
n_ma = ma_log.sum()
n_ma

985

In [52]:
n_ch_ma = df_chinese[(ch_log) & (ma_log)]['contact_name'].count()
n_ch_ma

303

In [51]:
n_ch_ca = df_chinese[(ch_log) & (ca_log)]['contact_name'].count()
n_ch_ca

337

In [53]:
n_ma_ca = df_chinese[(ma_log) & (ca_log)]['contact_name'].count()
n_ma_ca

494

In [54]:
n_ma_ca_ch = df_chinese[(ch_log) & (ma_log) & (ca_log)]['contact_name'].count()
n_ma_ca_ch

172

In [55]:
df_valid_email = df_chinese.dropna(subset=['contact_email'])

In [56]:
df_valid_email.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 845 entries, 1 to 1962
Data columns (total 15 columns):
index                            845 non-null int64
contact_address                  46 non-null object
contact_dx_code                  259 non-null object
contact_email                    845 non-null object
contact_name                     845 non-null object
contact_organisation             46 non-null object
contact_tel                      836 non-null object
date_admitted                    816 non-null object
entry_index                      845 non-null int64
is_speaking_chinese              845 non-null int64
languages_spoken                 845 non-null object
profession                       842 non-null object
profession_related               845 non-null object
roles_at_contact_organisation    833 non-null object
sra_id                           845 non-null object
dtypes: int64(3), object(12)
memory usage: 105.6+ KB

In [34]:
import matplotlib.pyplot as plt
from matplotlib_venn import venn2

In [26]:
df_chinese.groupby(['contact_email'])['contact_name'].count()

contact_email
Adam.smith@tateandlyle.com       1
Andrew.Darwin@dlapiper.com      18
Andy.nichol@freeths.co.uk        1
Arabella.Ramage@xlgroup.com      1
Boaz.Chan@incisivelaw.com        1
                                ..
yee@rcapital.co.uk               1
yinan.zhu@dealglobe.com          1
yogen.joshi@sedgwicklaw.com      1
yuyw@chevron.com                 2
zachary.tan@hoganlovells.com     2
Name: contact_name, Length: 534, dtype: int64

# Manipulate the main table with all lawyers

In [4]:
sql_query = " SELECT * FROM law_professionals_table"

In [5]:
df_all = pd.read_sql(sql_query, con)

In [7]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184586 entries, 0 to 184585
Data columns (total 15 columns):
index                            184586 non-null int64
contact_address                  6916 non-null object
contact_dx_code                  68859 non-null object
contact_email                    99494 non-null object
contact_name                     184586 non-null object
contact_organisation             6916 non-null object
contact_tel                      134167 non-null object
date_admitted                    173686 non-null object
entry_index                      184586 non-null int64
is_speaking_chinese              184586 non-null int64
languages_spoken                 184586 non-null object
profession                       177230 non-null object
profession_related               183609 non-null object
roles_at_contact_organisation    134118 non-null object
sra_id                           183609 non-null object
dtypes: int64(3), object(12)
memory usage: 21.1+ MB

In [8]:
df_all.date_admitted = df_all.date_admitted.str.split(':', expand=True).iloc[:,1]

In [9]:
sorted_cols = [
     'contact_name',
     'contact_email',
     'languages_spoken',
     'entry_index',
     'contact_address',
     'contact_dx_code',
     'contact_organisation',
     'contact_tel',
     'date_admitted',
     'is_speaking_chinese',
     'profession',
     'profession_related',
     'roles_at_contact_organisation',
     'sra_id']

In [10]:
df_all[sorted_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184586 entries, 0 to 184585
Data columns (total 14 columns):
contact_name                     184586 non-null object
contact_email                    99494 non-null object
languages_spoken                 184586 non-null object
entry_index                      184586 non-null int64
contact_address                  6916 non-null object
contact_dx_code                  68859 non-null object
contact_organisation             6916 non-null object
contact_tel                      134167 non-null object
date_admitted                    173686 non-null object
is_speaking_chinese              184586 non-null int64
profession                       177230 non-null object
profession_related               183609 non-null object
roles_at_contact_organisation    134118 non-null object
sra_id                           183609 non-null object
dtypes: int64(2), object(12)
memory usage: 19.7+ MB

In [11]:
df_all[sorted_cols].to_csv('law_professionals_list.csv')